<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PNRouter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
				<key>dateExpires</key>
				<string>2019/5/23</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>BGFMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GDPerformanceView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SWTableViewCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>WZLBadge.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CF433E03675AAA44F3B65BF1F31980EF076BF91</string>
						<key>dateExpires</key>
						<string>2019/5/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2JK8V69373</string>
						<key>name</key>
						<string>QLC CHAIN LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2JK8V69373.com.winq.routerchat</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2JK8V69373</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>2JK8V69373.com.winq.routerchat</string>
				</array>
			</dict>
			<key>name</key>
			<string>PNRouter.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e1fc9f3c-5931-4aad-8a22-d3feb1889066</string>
				<key>name</key>
				<string>RouterChatDevProfile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2JK8V69373</string>
				<key>name</key>
				<string>QLC CHAIN LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
