<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98944952203-lr1cgi3cf761nr7kivfk40hsm1pei94b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98944952203-lr1cgi3cf761nr7kivfk40hsm1pei94b</string>
	<key>API_KEY</key>
	<string>AIzaSyCvJGvHVdGMV2zAH9AoKpDJIh7Bd75zULQ</string>
	<key>GCM_SENDER_ID</key>
	<string>98944952203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winq.routerchat</string>
	<key>PROJECT_ID</key>
	<string>confident-d6fd8</string>
	<key>STORAGE_BUCKET</key>
	<string>confident-d6fd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98944952203:ios:693e3ab08a197fe583318e</string>
	<key>DATABASE_URL</key>
	<string>https://confident-d6fd8.firebaseio.com</string>
</dict>
</plist>