<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[微笑]</key>
	<string>[Smile]</string>
	<key>[撇嘴]</key>
	<string>[Grimace]</string>
	<key>[色]</key>
	<string>[Drool]</string>
	<key>[发呆]</key>
	<string>[Scowl]</string>
	<key>[得意]</key>
	<string>[CoolGuy]</string>
	<key>[流泪]</key>
	<string>[Sob]</string>
	<key>[害羞]</key>
	<string>[Shy]</string>
	<key>[闭嘴]</key>
	<string>[Silent]</string>
	<key>[睡]</key>
	<string>[Sleep]</string>
	<key>[大哭]</key>
	<string>[Cry]</string>
	<key>[尴尬]</key>
	<string>[Awkward]</string>
	<key>[发怒]</key>
	<string>[Angry]</string>
	<key>[调皮]</key>
	<string>[Tongue]</string>
	<key>[呲牙]</key>
	<string>[Grin]</string>
	<key>[惊讶]</key>
	<string>[Surprise]</string>
	<key>[难过]</key>
	<string>[Frown]</string>
	<key>[酷]</key>
	<string>[Ruthless]</string>
	<key>[冷汗]</key>
	<string>[Blush]</string>
	<key>[抓狂]</key>
	<string>[Scream]</string>
	<key>[吐]</key>
	<string>[Puke]</string>
	<key>[偷笑]</key>
	<string>[Chuckle]</string>
	<key>[愉快]</key>
	<string>[Joyful]</string>
	<key>[白眼]</key>
	<string>[Slight]</string>
	<key>[傲慢]</key>
	<string>[Smug]</string>
	<key>[饥饿]</key>
	<string>[Hungry]</string>
	<key>[困]</key>
	<string>[Drowsy]</string>
	<key>[惊恐]</key>
	<string>[Panic]</string>
	<key>[流汗]</key>
	<string>[Sweat]</string>
	<key>[憨笑]</key>
	<string>[Laugh]</string>
	<key>[悠闲]</key>
	<string>[Commando]</string>
	<key>[奋斗]</key>
	<string>[Determined]</string>
	<key>[咒骂]</key>
	<string>[Scold]</string>
	<key>[疑问]</key>
	<string>[Shocked]</string>
	<key>[嘘]</key>
	<string>[Shhh]</string>
	<key>[晕]</key>
	<string>[Dizzy]</string>
	<key>[疯了]</key>
	<string>[Tormented]</string>
	<key>[衰]</key>
	<string>[Toasted]</string>
	<key>[骷髅]</key>
	<string>[Skull]</string>
	<key>[敲打]</key>
	<string>[Hammer]</string>
	<key>[再见]</key>
	<string>[Wave]</string>
	<key>[擦汗]</key>
	<string>[Speechless]</string>
	<key>[抠鼻]</key>
	<string>[NosePick]</string>
	<key>[鼓掌]</key>
	<string>[Clap]</string>
	<key>[糗大了]</key>
	<string>[Shame]</string>
	<key>[坏笑]</key>
	<string>[Trick]</string>
	<key>[左哼哼]</key>
	<string>[Bah!L]</string>
	<key>[右哼哼]</key>
	<string>[Bah!R]</string>
	<key>[哈欠]</key>
	<string>[Yawn]</string>
	<key>[鄙视]</key>
	<string>[Pooh-pooh]</string>
	<key>[委屈]</key>
	<string>[Shrunken]</string>
	<key>[快哭了]</key>
	<string>[TearingUp]</string>
	<key>[阴险]</key>
	<string>[Sly]</string>
	<key>[亲亲]</key>
	<string>[Kiss]</string>
	<key>[吓]</key>
	<string>[Wrath]</string>
	<key>[可怜]</key>
	<string>[Whimper]</string>
	<key>[菜刀]</key>
	<string>[Cleaver]</string>
	<key>[西瓜]</key>
	<string>[Watermelon]</string>
	<key>[啤酒]</key>
	<string>[Beer]</string>
	<key>[篮球]</key>
	<string>[Basketball]</string>
	<key>[乒乓]</key>
	<string>[PingPong]</string>
	<key>[咖啡]</key>
	<string>[Coffee]</string>
	<key>[饭]</key>
	<string>[Rice]</string>
	<key>[猪头]</key>
	<string>[Pig]</string>
	<key>[玫瑰]</key>
	<string>[Rose]</string>
	<key>[凋谢]</key>
	<string>[Wilt]</string>
	<key>[嘴唇]</key>
	<string>[Lips]</string>
	<key>[爱心]</key>
	<string>[Heart]</string>
	<key>[心碎]</key>
	<string>[BrokenHeart]</string>
	<key>[蛋糕]</key>
	<string>[Cake]</string>
	<key>[闪电]</key>
	<string>[Lightning]</string>
	<key>[炸弹]</key>
	<string>[Bomb]</string>
	<key>[刀]</key>
	<string>[Knife]</string>
	<key>[足球]</key>
	<string>[Football]</string>
	<key>[瓢虫]</key>
	<string>[Ladybird]</string>
	<key>[便便]</key>
	<string>[Shit]</string>
	<key>[月亮]</key>
	<string>[Moon]</string>
	<key>[太阳]</key>
	<string>[Sun]</string>
	<key>[礼物]</key>
	<string>[Gift]</string>
	<key>[拥抱]</key>
	<string>[Hug]</string>
	<key>[强]</key>
	<string>[ThumbsUp]</string>
	<key>[弱]</key>
	<string>[ThumbsDown]</string>
	<key>[握手]</key>
	<string>[Handshake]</string>
	<key>[胜利]</key>
	<string>[Victory]</string>
	<key>[抱拳]</key>
	<string>[Salute]</string>
	<key>[勾引]</key>
	<string>[Beckon]</string>
	<key>[拳头]</key>
	<string>[Fist]</string>
	<key>[差劲]</key>
	<string>[Poor]</string>
	<key>[爱你]</key>
	<string>[LoveYou]</string>
	<key>[NO]</key>
	<string>[NO]</string>
	<key>[OK]</key>
	<string>[OK]</string>
	<key>[捂脸]</key>
	<string>[Facepalm]</string>
	<key>[破涕为笑]</key>
	<string>[TearsofJoy]</string>
	<key>[奸笑]</key>
	<string>[Smirk]</string>
	<key>[机智]</key>
	<string>[Smart]</string>
	<key>[皱眉]</key>
	<string>[Concerned]</string>
	<key>[耶]</key>
	<string>[Yeah!]</string>
	<key>[嘿哈]</key>
	<string>[Hey]</string>
</dict>
</plist>
